@using DrugTrade.Web.ViewModels.Pharmacies


@{
    this.ViewData["Title"] = "Edit Product";
    var data = ViewBag.Data;
}

<h1 class="display-3">Промяна на продукт</h1>

<form asp-controller="Product" asp-action="Edit" method="post">

    <div class="form-group">
        <label for="name">Име</label>
        <input type="text" class="form-control" id="name" name="Name" value="@data.Name">
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="description" name="Description" value="@data.Description">
    </div>
    <div class="form-group">
        <label for="manifacturer">Производител</label>
        <input type="text" class="form-control" id="manifacturer" name="Manifacturer" value="@data.Manifacturer">
    </div>
    <div class="form-group">
        <label for="price">Цена</label>
        <input type="number" min="0" step="0.01" class="form-control" id="price" name="Price" value="@data.Price">
    </div>
    <div class="form-group">
        <label for="quantity">Наличност</label>
        <input type="number" class="form-control" id="quantity" name="Quantity" value="@data.Quantity">
    </div>
    <div class="form-group">
        <label for="image">Връзка към снимка:</label>
        <input type="text" class="form-control" id="image" name="Image" value="@data.Image">
    </div>
    <button type="submit" class="btn btn-primary">Промени</button>
</form>